<!doctype html>
<html lang="zh">
{# 导入head #}
{% include 'blog_html/headinfo.html' %}
{# 分类下级与标签下级 共用一个html #}
<section class="section">
    <div class="container" id="nat" v-cloak>
        <div class="columns">
            <div class="column order-2 column-main is-8-tablet is-8-desktop is-6-widescreen">
                <div class="card">
                    <div class="card-content">
                        <nav class="breadcrumb" aria-label="breadcrumbs">
                            <ul>
                                {% if name == 'tags' %}
                                    <li><a href="{% url 'tags' %}">标签</a></li>
                                    <li class="is-active"><a href="#" aria-current="page">{{ title }}</a></li>
                                {% else %}
                                    <li><a href="{% url 'category' %}">分类</a></li>
                                    <li class="is-active"><a href="#" aria-current="page">{{ title }}</a></li>
                                {% endif %}
                            </ul>
                        </nav>
                    </div>
                </div>
                {# 文章 #}
                {% include 'blog_html/get_article.html' %}
                <!--  页数-->
                <nav class="pagination is-centered mt-4" role="navigation" aria-label="pagination">
                    {% if page_num >= 2 %}
                        <div class="pagination-previous">
                            <a href="{% url 'cate_tags' name obj_id page_num|add:-1 %}">上一页</a>
                        </div>
                    {% else %}
                        <div class="pagination-previous is-invisible is-hidden-mobile">
                            <a href="/">上一页</a>
                        </div>
                    {% endif %}
                    {% if page_num < total_page|length %}
                        <div class="pagination-next">
                            {# url 反向解析，有带参数， 则后面多补个参数#}
                            {# 内置过滤器：https://docs.djangoproject.com/en/dev/ref/templates/builtins/#built-in-filter-reference#}
                            <a href="{% url 'cate_tags' name obj_id page_num|add:1 %}">下一页</a>
                        </div>
                    {% else %}
                        <div class="pagination-next is-invisible is-hidden-mobile">
                            <a href="/">上一页</a>
                        </div>
                    {% endif %}
                    <ul class="pagination-list is-hidden-mobile">
                        {# 页码#}
                        {% for foo in total_page %}
                            <li>
                                <a id="is-a{{ forloop.counter }}" class="pagination-link"
                                   href="{% url 'cate_tags' name obj_id forloop.counter %}">{{ forloop.counter }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </nav>
            </div>
            <!-- 个人介绍页-->
            <div class="column column-left is-4-tablet is-4-desktop is-3-widescreen  order-1 is-sticky">
                {% include 'blog_html/per_detail.html' %}
                <div class="column-right-shadow is-hidden-widescreen"></div>
            </div>

            <!-- 右边栏-->
            <div class="column column-right is-4-tablet is-4-desktop is-3-widescreen is-hidden-touch is-hidden-desktop-only order-3" v-cloak>
                {% include 'blog_html/right_site.html' %}
            </div>
        </div>
    </div>
</section>
<!--页脚
利用django模板的include组件将常用的页面内容如导航条，页尾信息等组件保存在单独的文件中
然后在需要使用的地方，文件的任意位置按如下语法导入即可。
多个页面都有同样的代码,直接用此语法可减少代码的重复性
-->
{% include  'blog_html/footer.html' %}
{#<script src="/static/js/insight.js" defer></script>#}
</body>
</html>