{% load static %}
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="keywords" content="null">
    <!-- 描述-->
    <meta name="description" content="python,js,技术分享,后端开发,支付框架,数据接口">
    <meta name="author" content="blog">
    <title>{{ SITE_CONFIGS.name }}</title>
    <meta property="og:type" content="website">
    <meta property="og:title" content="{{ SITE_CONFIGS.name }}">
    <meta property="og:url" content="/">
    <meta property="og:site_name" content="{{ SITE_CONFIGS.name }}">
    <meta property="og:description" content="{{ SITE_CONFIGS.description }}">
    <meta property="og:locale" content="en_US">
    <meta property="article:author" content="blog">
    <link rel="alternative" href="/" title="blog's" type="application/atom+xml">
    <link rel="icon" href="{% static 'img/logo1.png' %}">
    <link rel="stylesheet" href="https://cdnjs.loli.net/ajax/libs/font-awesome/5.12.0/css/all.min.css">
    <link rel="stylesheet"
          href="https://fonts.loli.net/css?family=Ubuntu:400,600|Source+Code+Pro|Monda:300,300italic,400,400italic,700,700italic|Roboto Slab:300,300italic,400,400italic,700,700italic|Microsoft YaHei:300,300italic,400,400italic,700,700italic|PT Mono:300,300italic,400,400italic,700,700italic&amp;amp;subset=latin,latin-ext|Inconsolata|Itim|Lobster.css">
    <link rel="stylesheet" href="https://cdnjs.loli.net/ajax/libs/highlight.js/9.12.0/styles/atom-one-dark.min.css">
    <script src="//busuanzi.ibruce.info/busuanzi/2.3/busuanzi.pure.mini.js" defer></script>
    <link rel="stylesheet" href="https://cdnjs.loli.net/ajax/libs/lightgallery/1.6.12/css/lightgallery.min.css">
    <link rel="stylesheet" href="https://cdnjs.loli.net/ajax/libs/justifiedGallery/3.7.0/css/justifiedGallery.min.css">
    <script src="https://cdnjs.loli.net/ajax/libs/pace/1.0.2/pace.min.js"></script>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="https://cdnjs.loli.net/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="{% static 'js/globalUtils.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/vue-2.5.16.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/axios-0.18.0.min.js' %}"></script>
    <link rel="stylesheet"
          href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.0.2/styles/agate.min.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.0.2/highlight.min.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
</head>
<style>
    .section.container.
    [v-cloak] {
        display: none;
    }
</style>
<body class="is-3-column has-navbar-fixed-top">
<nav class="navbar navbar-main is-fixed-top">
    <div class="container">
        <div class="navbar-brand justify-content-center">
            <a class="navbar-item navbar-logo" href="/">
                <img src="/static/img/logo1.png" alt="blog's" height="28"></a></div>
        <div class="navbar-menu">
            <div class="navbar-start">

                <a class="navbar-item" id="navbar-item-0" href="/">首页</a>
                {#  url 避免链接硬编码 路由内要起名字name= #}
                {#                <a class="navbar-item" href="{% url 'archives' %}">归档</a>#}
                <a class="navbar-item" id="navbar-item-1" href="{% url 'category' %}">分类</a>
                <a class="navbar-item" id="navbar-item-2" href="{% url 'tags' %}">标签</a>
                <a class="navbar-item" id="navbar-item-3" href="/">影音(待开发)</a>
                {#                <a class="navbar-item" href="../static/friend">友链</a>#}
                <a class="navbar-item" id="navbar-item-4" href="/articles/details/1/">关于</a>
            </div>
            <div class="navbar-end">
                <a class="navbar-item" target="_blank" rel="noopener" title="Download on GitHub"
                   href="https://github.com/afan441524641">
                    <i class="fab fa-github"></i>
                </a>
                <a class="navbar-item search" title="搜索" href="javascript:;">
                    <i class="fas fa-search"></i>
                </a>
                <a class="navbar-item" id="night-nav" title="Night Mode" href="javascript:;">
                    <i class="fas fa-moon" id="night-icon"></i>
                </a>
            </div>
        </div>
    </div>
</nav>

<script type="text/javascript" src="{% static 'js/theme-setting.js' %}"></script>
