{# 个人详情 #}
<div class="card widget" v-cloak>
    <div class="card-content" >
        <nav class="level" style="font-family:STXingkai;fontWeight: bold;">
            <div class="level-item has-text-centered flex-shrink-1">
                <div>
                    <figure class="image is-128x128 mx-auto mb-2">
                        <img class="is-rounded" src="/static/img/logo1.png" alt="阿凡">
                    </figure>
                    <p class="title is-size-4 is-block line-height-inherit">阿凡</p>
                    <p class="is-size-6 is-block">尚未执佩剑，转眼即江湖</p>
                    <p class="is-size-6 is-flex justify-content-center">
                        <i class="fas fa-map-marker-alt mr-1"></i>
                        <span>China</span>
                    </p>
                </div>
            </div>
        </nav>
        <nav class="level is-mobile">
            <div class="level-item has-text-centered is-marginless">
                <div>
                    <p class="heading">文章</p>
                    <a href="/">
                        <p class="title">[[ article_data.length ]]</p>
                    </a>
                </div>
            </div>
            <div class="level-item has-text-centered is-marginless">
                <div>
                    <p class="heading">分类</p>
                    <a href="{% url 'category' %}">
                        <p class="title">[[ category_data.length ]]</p>
                    </a>
                </div>
            </div>
            <div class="level-item has-text-centered is-marginless">
                <div>
                    <p class="heading">标签</p>
                    <a href="{% url 'tags' %}">
                        <p class="title">[[ tags_data.length ]]</p>
                    </a>
                </div>
            </div>
        </nav>
        <div class="level">
            <a class="level-item button is-primary is-rounded" href="https://github.com/afan441524641" target="_blank"
               rel="noopener">关注我</a>
        </div>
        <!-- 其他网站账号 github weibo-->
        <div class="level is-mobile">
            <a class="level-item button is-transparent is-white is-marginless" target="_blank" rel="noopener"
               title="Github" href="https://github.com/afan441524641">
                <i class="fab fa-github"></i>
            </a>
            <a class="level-item button is-transparent is-white is-marginless" target="_blank" rel="noopener"
               title="Weibo" href="/">
                <i class="fab fa-weibo"></i>
            </a>
            <a class="level-item button is-transparent is-white is-marginless" target="_blank" rel="noopener"
               title="Email" href="mailto:441524641@qq.com">
                <i class="fa fa-envelope"></i>
            </a>
            <a class="level-item button is-transparent is-white is-marginless" target="_blank" rel="noopener"
               title="Next" href="/">
                <i class="fab fa-dribbble"></i>
            </a>
            <a class="level-item button is-transparent is-white is-marginless" target="_blank" rel="noopener"
               title="RSS" href="/">
                <i class="fas fa-rss"></i>
            </a>
        </div>
        <div style="font-family:STXinwei;">
            <hr>
            <p id="hitokoto">一言句子获取中</p>
        </div>
    </div>
</div>
