{# 右边栏 #}
{# 最新文章 #}
<div class="card widget">
    <div class="card-content">
        <h3 class="menu-label">最新文章</h3>
        <article v-for="obj in article_data" class="media" v-cloak>
            <a class="media-left" href="/">
                <p class="image is-64x64">
                    <img class="thumbnail" :src="'/media/'+obj.img_url+''" :alt= "''+obj.title+''" ></p>
            </a>
            <div class="media-content size-small">
                <p>
                    <time :dateTime="''+obj.create_time+''">[[ obj.create_time ]]</time>
                </p>
                <p class="title is-6">
                    <a class="link-muted"
                       href="/">[[ obj.title ]]</a>
                </p>
                <p class="is-uppercase">
                    <i class="fas fa-folder-open has-text-grey"> </i>
                    <a class="link-muted" href="/">[[ obj.category ]]</a> /
                    <a class="link-muted" href="/">[[ obj.tag ]]</a>
                </p>
            </div>
        </article>
    </div>
</div>
{# 分类 #}
<div class="card widget">
    <div class="card-content">
        <div class="menu">
            <h3 class="menu-label">分类</h3>
            <ul class="menu-list">
                <li v-for="cate in category_data">
                    <a class="level is-mobile is-marginless" :href="'/articles/cate_tags/category/'+cate.id+'/page/1/'">
                        <span class="level-start">
                            <span class="level-item">[[ cate.name ]]</span>
                        </span>
                        <span class="level-end">
                            <span class="level-item tag">[[ cate.total_num ]]</span>
                        </span>
                    </a>
                </li>
                {#                <li>#}
                {#                    <a class="level is-mobile is-marginless" href="/static/public/categories/工具教程">#}
                {#                        <span class="level-start">#}
                {#                            <span class="level-item">工具教程</span>#}
                {#                        </span>#}
                {#                        <span class="level-end">#}
                {#                            <span class="level-item tag">8</span>#}
                {#                        </span>#}
                {#                    </a>#}
                {#                    <ul class="mr-0">#}
                {#                        <li>#}
                {#                            <a class="level is-mobile is-marginless" href="/static/public/categories/工具教程/主题工具">#}
                {#                                <span class="level-start">#}
                {#                                    <span class="level-item">主题工具</span>#}
                {#                                </span>#}
                {#                                <span class="level-end">#}
                {#                                    <span class="level-item tag">7</span>#}
                {#                                </span>#}
                {#                            </a>#}
                {#                        </li>#}
                {#                        <li>#}
                {#                            <a class="level is-mobile is-marginless" href="/static/public/categories/工具教程/博客统计插件">#}
                {#                                <span class="level-start">#}
                {#                            <span class="level-item">博客统计插件</span>#}
                {#                            </span>#}
                {#                                <span class="level-end">#}
                {#                                    <span class="level-item tag">1</span>#}
                {#                                </span>#}
                {#                            </a>#}
                {#                        </li>#}
                {#                    </ul>#}
                {#                </li>#}
            </ul>
        </div>
    </div>
</div>
{# 归档 #}
{#<div class="card widget">#}
{#    <div class="card-content">#}
{#        <div class="menu">#}
{#            <h3 class="menu-label">归档</h3>#}
{#            <ul class="menu-list">#}
{#                <li>#}
{#                    <a class="level is-mobile is-marginless"#}
{#                       href="../static/public/archives/2020/01">#}
{#                                            <span class="level-start">#}
{#                                                <span class="level-item">一月 2020</span>#}
{#                                            </span>#}
{#                        <span class="level-end">#}
{#                                                <span class="level-item tag">1</span>#}
{#                                            </span>#}
{#                    </a>#}
{#                </li>#}
{#                <li>#}
{#                    <a class="level is-mobile is-marginless"#}
{#                       href="../static/public/archives/2019/12"><span class="level-start"><span#}
{#                            class="level-item">十二月 2019</span></span><span#}
{#                            class="level-end"><span class="level-item tag">1</span></span></a></li>#}
{#                <li>#}
{#                    <a class="level is-mobile is-marginless"#}
{#                       href="../static/public/archives/2019/11"><span class="level-start"><span#}
{#                            class="level-item">十一月 2019</span></span><span#}
{#                            class="level-end"><span class="level-item tag">1</span></span></a></li>#}
{#                <li>#}
{#                    <a class="level is-mobile is-marginless"#}
{#                       href="../static/public/archives/2019/10"><span class="level-start"><span#}
{#                            class="level-item">十月 2019</span></span><span#}
{#                            class="level-end"><span class="level-item tag">2</span></span></a></li>#}
{#                <li>#}
{#                    <a class="level is-mobile is-marginless"#}
{#                       href="../static/public/archives/2019/09"><span class="level-start"><span#}
{#                            class="level-item">九月 2019</span></span><span#}
{#                            class="level-end"><span class="level-item tag">4</span></span></a></li>#}
{#                <a class="level is-mobile is-marginless" href="../static/public/archives">#}
{#                                    <span class="level-start">#}
{#                                        <span class="level-item">查看全部&gt;&gt;</span>#}
{#                                    </span>#}
{#                </a>#}
{#            </ul>#}
{#        </div>#}
{#    </div>#}
{#</div>#}
{# 标签 #}
<div class="card widget">
    <div class="card-content">
        <div class="menu">
            <h3 class="menu-label">标签</h3>
            <div class="field is-grouped is-grouped-multiline">
                <div v-for="tag in tags_data" class="control">
                    <a class="tags has-addons" :href="'/articles/cate_tags/tags/'+tag.id+'/page/1/'">
                        <span class="tag">[[ tag.name ]]</span>
                        <span class="tag is-grey-lightest">[[ tag.total_num ]]</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
{# 订阅更新 #}
{# 导入head #}
{% include 'blog_html/email_update.html' %}

{#<div class="card widget">#}
{#    <div class="card-content">#}
{#        <div class="menu">#}
{#            <h3 class="menu-label">订阅更新</h3>#}
{#            <form action="https://feedburner.google.com/fb/a/mailverify" method="post"#}
{#                  target="popupwindow"#}
{#                  onsubmit="window.open('https://feedburner.google.com/fb/a/mailverify?uri=removeifFeedsId','popupwindow','scrollbars=yes,width=550,height=520');return true">#}
{#                <input type="hidden" value="removeifFeedsId" name="uri">#}
{#                <input type="hidden" name="loc" value="en_US">#}
{#                <div class="field has-addons">#}
{#                    <div class="control has-icons-left is-expanded">#}
{#                        <input class="input" name="email" type="email" placeholder="Email">#}
{#                        <span class="icon is-small is-left">#}
{#                                            <i class="fas fa-envelope"></i>#}
{#                                        </span>#}
{#                    </div>#}
{#                    <div class="control">#}
{#                        <input class="button is-primary" type="submit" value="订阅">#}
{#                    </div>#}
{#                </div>#}
{#                <p class="help">输入邮箱开始订阅，更博后邮件通知！</p>#}
{#            </form>#}
{#        </div>#}
{#    </div>#}
{#</div>#}